.gamecontainer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.cell {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    box-shadow: 0 0 0 2px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cellcontainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    width: 300px;
}

